<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:if="${add}">Добавление пассажира</title>
    <title th:if="${edit}">Редактирование пассажира</title>
    <link href="/base.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/minty/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"  crossorigin="anonymous"></script>
</head>
<body>

<div th:replace="fragments::navbar"></div>

<main>
    <div class="container-fluid">
        <div class="row">
            <h2 th:if="${add}">Добавление пассажира</h2>
            <h2 th:if="${edit}">Редактирование пассажира</h2>
        </div>
        <div class="row margin-top-mid">
            <div class="col-3">
                <form th:action="${action}" method="post">
                    <div class="mb-3">
                        <label for="fullName" class="form-label">Имя пассажира</label>
                        <input type="text" class="form-control" id="fullName" name="passengerName">
                    </div>
                    <div class="mb-3">
                        <label for="passengerEmail" class="form-label">E-mail пассажира</label>
                        <input type="email" class="form-control" id="passengerEmail" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="passengerPhone" class="form-label">Телефон пассажира</label>
                        <input type="text" class="form-control" id="passengerPhone" name="phone">
                    </div>
                    <button class="btn btn-lg btn-primary" type="submit" th:if="${add}">Добавить</button>
                    <button class="btn btn-lg btn-primary" type="submit" th:if="${edit}">Редактировать</button>
                </form>
            </div>
        </div>
    </div>
</main>

</body>
</html>
